@import "reset";
@mixin but{
	display:inline-block;
	width:54px;
	height:26px;
	background:#ff3f3f;
	color:#fff;
	line-height:26px;
	text-align:center;
	border:none;
	border-radius:3px;
	margin:0 4px;
}
@mixin pub{
	p:nth-of-type(1){
		padding-top:18px;
		margin:0 auto;
		width:992px;
		select:nth-of-type(1){
			width:160px;
		}
		select:nth-of-type(2){
			width:106px;
		}
		input{
			width:130px;
			height:24px;
		}
		button{
			@include but;
		}
	}
	.text_main{
		overflow:hidden;
		margin:0 auto;
		width:992px;
		div{
			float:left;
			height:380px;
			span{
				display:block;
				text-align:center;
				padding:8px 0;
			}
			select{
				width:416px;
				height:344px;
			}
		}
		.text_left{
			width:416px;
		}
		.operation{
			width:160px;
			text-align:center;
			span{
				margin-bottom:66px;
			}
			b,em,i{
				display:block;
			}
			b{
				line-height:20px;
				input{
					vertical-align:middle;
				}
			}
			i,em{
				background:#ff3f3f;
				height:27px;
				color:#fff;
				border-radius:3px;
				margin:16px auto 0;
				line-height:27px;
			}
			i{
				width:47px;
			}
			em{
				width:40px;
			}
		}
		.text_right{
			width:416px;
		}
	}
	p:nth-last-of-type(1){
		margin-bottom:10px;
		text-align:center;
		button{
			display:inline-block;
			width:54px;
			height:26px;
			background:#ff3f3f;
			color:#fff;
			line-height:26px;
			text-align:center;
			border:none;
			border-radius:3px;
			margin:0 4px;
		}
	}
}
@mixin good_top{
	line-height:40px;
	height:40px;
	border-bottom:1px solid #cccccc;
	overflow:hidden;
	i{
		color:#333333;
	}
	b{
		color:#4c4c4c;
		margin-right:15px;
	}
	img{
		margin-top:7px;
	}
	a{
		display:block;
		float:right;
		width:98px;
		height:26px;
		background:#c43926;
		color:#fff;
		line-height:26px;
		text-align:center;
		font-size:14px;
		border-radius:3px;
		margin-top:7px;
	}
}
@mixin good_foot{
	height:50px;
	border:1px solid #dddddd;
	background:#f3f3f3;
	padding-top:14px;
	margin-bottom:30px;
	p{
		line-height:18px;
		text-align:center;
		color:#9cacaf;
	}
}
.add_new_goods{
	height:100%;
	overflow-y:auto;
	padding:10px;
	h2{
		@include good_top;
	}
	.main{
		background:#fefefe;
		border:1px solid #dddddd;
		margin:10px 0;
		ul{
			height:40px;
			background:#efefef;
			padding:2px 0 0 10px;
			overflow:hidden;
			li{
				width:88px;
				float:left;
				color:#787878;
				line-height:40px;
				text-align:center;
				cursor:pointer;
			}
			li:nth-child(1){
				background:#fff;
				color:#000;
			}
		}
		.currency{
			width:700px;
			margin:0 auto;
			padding-top:12px;
			p{
				line-height:40px;
				label{
					width:120px;
					display:inline-block;
					text-align:right;
					padding-right:20px;
					img{
						vertical-align:middle;
						margin-right:4px;
					}
				}
				input{
					vertical-align:middle;
					margin-right:5px;
				}
				i{
					color:#ff3f3f;
					margin-left:18px;
				}
			}
			p:nth-of-type(1){
				input{
					width:190px;
				}
			}
			p:nth-of-type(3){
				select{
					width:158px;
				}
				button{
					background:#ddeef2;
					color:#335b64;
				}
				em{
					display:none;	
				}
			}
			p:nth-of-type(4),p:nth-of-type(15){
				button{
					background:#ff3f3f;
					color:#fff;
					width:54px;
					height:27px;
					border:none;
					border-radius:3px;
				}
				select{
					width:140px;
					margin:0 5px;
				}
			}
			p:nth-of-type(5){
				select{
					width:106px;
				}
				button{
					background:#ddeef2;
					color:#335b64;
				}
				em{
					display:none;	
				}
			}
			p:nth-of-type(7),p:nth-of-type(8){
				input{
					width:62px;
				}
			}
			p:nth-of-type(15){
				input{
					width:84px;
				}
			}
			p:nth-last-of-type(2),p:nth-last-of-type(3){
				input:nth-of-type(2){
					margin-left:140px;
					width:247px;
				}
			}
			p:nth-last-of-type(1){
				margin-bottom:10px;
				text-align:center;
				button{
					display:inline-block;
					width:54px;
					height:26px;
					background:#ff3f3f;
					color:#fff;
					line-height:26px;
					text-align:center;
					border:none;
					border-radius:3px;
					margin:0 4px;
				}
			}
			b{
				display:block;
				padding-left:140px;
				line-height:18px;
				color:#666666;
			}
			.hidB{
				display:none;
			}
		}
		.describe{
			display:none;
			textarea{
				width:800px;
				margin:10px;
				height:200px;
				min-height:100px;
				min-width:300px;
			}
			p{
				text-align:center;
				margin-bottom:15px;
				button{
					display:inline-block;
					width:54px;
					height:26px;
					background:#ff3f3f;
					color:#fff;
					line-height:26px;
					text-align:center;
					border:none;
					border-radius:3px;
					margin:0 4px;
				}
			}
		}
		.other{
			width:700px;
			margin:0 auto;
			padding-top:12px;
			display:none;
			p{
				line-height:40px;
				label{
					width:120px;
					display:inline-block;
					text-align:right;
					padding-right:20px;
					img{
						vertical-align:middle;
						margin-right:4px;
					}
				}
				input{
					vertical-align:middle;
					margin-right:5px;
				}
				em{
					padding-left:140px;
				}
			}
			p:nth-last-of-type(1){
				margin-bottom:10px;
				text-align:center;
				button{
					display:inline-block;
					width:54px;
					height:26px;
					background:#ff3f3f;
					color:#fff;
					line-height:26px;
					text-align:center;
					border:none;
					border-radius:3px;
					margin:0 4px;
				}
			}
			p:nth-last-of-type(2),p:nth-last-of-type(3){
				label{
					vertical-align:top;
				}
			}
		}
		.attribute{
			width:700px;
			margin:0 auto;
			padding-top:12px;
			display:none;
			p{
				padding:10px 0;
				label{
					width:120px;
					display:inline-block;
					text-align:right;
					padding-right:20px;
					img{
						vertical-align:middle;
						margin-right:4px;
					}
				}
				b{
					padding-left:140px;
				}
			}
			p:nth-last-of-type(1){
				margin-bottom:10px;
				text-align:center;
				button{
					display:inline-block;
					width:54px;
					height:26px;
					background:#ff3f3f;
					color:#fff;
					line-height:26px;
					text-align:center;
					border:none;
					border-radius:3px;
					margin:0 4px;
				}
			}
		}
		.album{
			padding:30px 0 0 60px;
			font-size:12px;
			display:none;
			p{
				line-height:40px;
				input{
					vertical-align:middle;
					margin-right:5px;
				}
				input:nth-last-of-type(1){
					width:200px;
				}
			}
			p:nth-last-of-type(1){
				margin-bottom:10px;
				text-align:center;
				button{
					display:inline-block;
					width:54px;
					height:26px;
					background:#ff3f3f;
					color:#fff;
					line-height:26px;
					text-align:center;
					border:none;
					border-radius:3px;
					margin:0 4px;
				}
			}
		}
		.associated{
			display:none;
			@include pub;
		}
		.parts{
			display:none;
			@include pub;
			.operation{
				input{
					width:54px;
					height:24px;
				}
			}
		}
		.article{
			display:none;
			@include pub;
		}
	}
	.list_foot{
		@include good_foot;
	}
}
