@import "reset";
#top_box{
	height:118px;
	width:100%;
	.logo{
		height:76px;
		background:url(../img/topLogo.png) no-repeat 30px 20px #303030;
		overflow:hidden;
		ul{
			float:right;
			li{
				width:82px;
				color:#fff;
				text-align:center;
				float:left;
				position:relative;
				height:75px;	
				img{
					margin-top:6px;
				}
				p{
					padding-top:6px;
				}
				span{
					display:none;
					width:100%;
					height:100%;
					position:absolute;
					top:0;
					background:rgba(255,255,255,0.2);
				}
			}
			li:nth-child(1){
				width:102px;
			}
			li:hover span{
				display:block;
			}
		}
	}
	.nav{
		height:41px;
		background:#575757;
		border-bottom:1px solid #212121;
		a:hover{
			background:rgba(0,0,0,0.2);
		}
		.left_nav{
			float:left;
			margin-left:17px;
			overflow:hidden;
			li{
				float:left;
				color:#303030;
				line-height:41px;
				a{
					display:block;
					float:left;
					color:#fff;
					padding:0 12px 0 12px;
					line-height:41px;
					img{
						margin-right:10px;
						vertical-align:middle;
					}
					span{
						height:100%;
						display:inline-block;
						vertical-align:middle;
					}
					i{
						height:16px;
						width:32px;
						display:inline-block;
						border-radius:16px;
						background:#ff3f3f;
						margin-left:10px;
						text-align:center;
						line-height:16px;
					}
				}
			}
		}
		.right_nav{
			float:left;
			li{
				float:left;
				a{
					padding:0 12px;
					line-height:41px;
					color:#fff;
					display:block;
				}
			}
		}
	}
}
@mixin but{
	display:inline-block;
	width:54px;
	height:26px;
	background:#ff3f3f;
	color:#fff;
	line-height:26px;
	text-align:center;
	border:none;
	border-radius:3px;
	margin:0 4px;
}
@mixin pub{
	p:nth-of-type(1){
		padding-top:18px;
		margin:0 auto;
		width:992px;
		select:nth-of-type(1){
			width:160px;
		}
		select:nth-of-type(2){
			width:106px;
		}
		input{
			width:130px;
			height:24px;
		}
		button{
			@include but;
		}
	}
	.text_main{
		overflow:hidden;
		margin:0 auto;
		width:992px;
		div{
			float:left;
			height:380px;
			span{
				display:block;
				text-align:center;
				padding:8px 0;
			}
			select{
				width:416px;
				height:344px;
			}
		}
		.text_left{
			width:416px;
		}
		.operation{
			width:160px;
			text-align:center;
			span{
				margin-bottom:66px;
			}
			b,em,i{
				display:block;
			}
			b{
				line-height:20px;
				input{
					vertical-align:middle;
				}
			}
			i,em{
				background:#ff3f3f;
				height:27px;
				color:#fff;
				border-radius:3px;
				margin:16px auto 0;
				line-height:27px;
			}
			i{
				width:47px;
			}
			em{
				width:40px;
			}
		}
		.text_right{
			width:416px;
		}
	}
	p:nth-last-of-type(1){
		margin-bottom:10px;
		text-align:center;
		button{
			display:inline-block;
			width:54px;
			height:26px;
			background:#ff3f3f;
			color:#fff;
			line-height:26px;
			text-align:center;
			border:none;
			border-radius:3px;
			margin:0 4px;
		}
	}
}
@mixin good_top{
	line-height:40px;
	height:40px;
	border-bottom:1px solid #cccccc;
	overflow:hidden;
	a{
		color:#333333;
	}
	b{
		color:#4c4c4c;
		margin-right:15px;
	}
	img{
		margin-top:7px;
	}
	i{
		display:block;
		float:right;
		width:98px;
		height:26px;
		background:#c43926;
		color:#fff;
		line-height:26px;
		text-align:center;
		font-size:14px;
		border-radius:3px;
		margin-top:7px;
	}
}
@mixin good_foot{
	height:50px;
	border:1px solid #dddddd;
	background:#f3f3f3;
	padding-top:14px;
	margin-bottom:30px;
	p{
		line-height:18px;
		text-align:center;
		color:#9cacaf;
	}
}
#main{
	width:100%;
	height:auto;
	position:absolute;
	top:118px;
	bottom:0;
	#left_box{
		width:180px;
		height:100%;
		float:left;
		overflow-y:auto;
		.one_menu{
			h3{
				background:#303030;
				boder-top:1px solid #212121;
				height:34px;
				font-size:14px;
				font-weight:900;
				color:#fff;
				padding-left:28px;
				line-height:34px;
			}
			li{
				height:auto;
				background:#575757;
				border-top:1px solid #7f7f7f;
				.clic{
					height:42px;
					display:block;
					color:#fff;
					position:relative;
					b{
						margin-left:10px;
						width:140px;
						height:43px;
						display:inline-block;
					}
					span{
						position:absolute;
						left:40px;
						line-height:42px;
					}
				}
				.two_menu{
					width:100%;
					display:none;
					a{
						line-height:30px;
						background:#575757;
						padding-left:40px;
						display:block;
						color:#fff;
					}
					a:hover{
						background:#797979;
					}
				}
			}
			li:hover{
				background : #454545;
			}
			.toogli{
				background : #454545;
				.two_menu{
					display:block;
				}
			}
		}
	}
	#center_box{
		width:10px;
		float:left;
		background:#303030;
		position:relative;
		height:100%;
		a{
			display:block;
			width:10px;
			height:30px;
			background:url(../img/arrow_right.gif) no-repeat;
			position:absolute;
			top:0;
			bottom:0;
			margin:auto 0;
		}
	}
	#right_box{
		position:relative;
		height:100%;
		overflow:hidden;
		background:url(../img/body_bj.jpg);
		#content{
			width:100%;
			height:100%;
			border:none;
		}
	}
}
