<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/index.css">
  </head>
  <body>
    <div id="top_box">
		<div class="logo">
			<ul>
				<li>
					<img src="img/topmune_09.png">
					<p>更多模板堂产品</p>
					<span></span>
				</li>
				<li>
					<img src="img/topmune_01.png">
					<p>开店向导</p>
					<span></span>
				</li>
				<li>
					<img src="img/topmune_02.png">
					<p>记事本</p>
					<span></span>
				</li>
				<li>
					<img src="img/topmune_03.png">
					<p>刷新</p>
					<span></span>
				</li>
				<li>
					<img src="img/topmune_04.png">
					<p>个人设置</p>
					<span></span>
				</li>
				<li>
					<img src="img/topmune_05.png">
					<p>管理员留言</p>
					<span></span>
				</li>
				<li>
					<img src="img/topmune_06.png">
					<p>查看网店</p>
					<span></span>
				</li>
				<li>
					<img src="img/topmune_007.png">
					<p>帮助</p>
					<span></span>
				</li>
				<li>
					<img src="img/topmune_07.png">
					<p>关于ECSHOP</p>
					<span></span>
				</li>
				<li>
					<img src="img/qingchu.png">
					<p>清除缓存</p>
					<span></span>
				</li>
				<li>
					<img src="img/topmune_08.png">
					<p>退出</p>
					<span></span>
				</li>
			</ul>
		</div>
		<div class="nav">
			<ul class="left_nav">
				<li>
					<a href="#"><img src="img/index-11_07.png">起始页<b></b></a>|
				</li>
				<li>
					<a href="#"><img src="img/index-11_41.png">设置导航栏<b></b></a>|
				</li>
				<li>
					<a href="#"><img src="img/index-11_09.png"><span></span>商品管理<i>0</i><b></b></a>|
				</li>
				<li>
					<a href="#"><img src="img/dd.png">订单管理<i>0</i><b></b></a>|
				</li>
				<li>
					<a href="#"><img src="img/index-11_13.png">广告管理<i>0</i><b></b></a>|
				</li>
				<li>
					<a href="#"><img src="img/index-11_19.png">用户评论<i>0</i><b></b></a>|
				</li>
			</ul>
			<ul class="right_nav">
				<li>
					<a href="#">商品列表<b></b></a>
				</li>
				<li>
					<a href="#">订单列表<b></b></a>
				</li>
				<li>
					<a href="#">用户评论<b></b></a>
				</li>
				<li>
					<a href="#">会员列表<b></b></a>
				</li>
				<li>
					<a href="#">商店设置<b></b></a>
				</li>
				<li>
					<a href="#">移动版<b></b></a>
				</li>
				<li>
					<a href="#">服务市场<b></b></a>
				</li>
			</ul>
		</div>
	</div>
	<div id="main">
		<div id="left_box">
			<ul class="one_menu">
				<h3>导航菜单</h3>
				<li>
					<a href="#" class="clic"><b></b><span>商品管理</span></a>
					<div class="two_menu">
						<a href="/lis/list.html" target="content">商品列表</a>
						<a href="/lis/add_goods.html" target="content">添加新商品</a>
						<a href="#">商品分类</a>
						<a href="#">用户评价</a>
						<a href="#">商品品牌</a>
						<a href="#">商品类型</a>
						<a href="#">商品回收站</a>
						<a href="#">图片批量处理</a>
						<a href="#">图片批量导出</a>
						<a href="#">图片批量修改</a>
						<a href="#">生成商品代码</a>
						<a href="#">标签管理</a>
						<a href="#">虚拟商品列表</a>
						<a href="#">添加虚拟商品</a>
						<a href="#">更改加密串</a>
						<a href="#">商品自动上下架</a>
					</div>
				</li>
				<li>
					<a href="#" class="clic"><b></b><span>促销管理</span></a>
					<div class="two_menu">
						<a href="#">夺宝奇兵</a>
						<a href="#">红包类型</a>
						<a href="#">商品包装</a>
						<a href="#">祝福贺卡</a>
						<a href="#">团购活动</a>
						<a href="#">专题管理</a>
						<a href="#">拍卖活动</a>
						<a href="#">优惠活动</a>
						<a href="#">批发管理</a>
						<a href="#">超值礼包</a>
						<a href="#">积分商城商品</a>
					</div>
				</li>
				<li>
					<a href="#" class="clic"><b></b><span>订单管理</span></a>
					<div class="two_menu">
						<a href="#">订单列表</a>
						<a href="#">订单查询</a>
						<a href="#">合并订单</a>
						<a href="#">订单打印</a>
						<a href="#">缺货登记</a>
						<a href="#">添加订单</a>
						<a href="#">发货单列表</a>
						<a href="#">退货单列表</a>
					</div>
				</li>
				<li>
					<a href="#" class="clic"><b></b><span>产品管理</span></a>
					<div class="two_menu">
						<a href="#">广告列表</a>
						<a href="#">广告位置</a>
					</div>
				</li>
				<li>
					<a href="#" class="clic"><b></b><span>报表统计</span></a>
					<div class="two_menu">
						<a href="#">流量分析</a>
						<a href="#">客户统计</a>
						<a href="#">订单统计</a>
						<a href="#">销售概况</a>
						<a href="#">会员排行</a>
						<a href="#">销售明细</a>
						<a href="#">搜索引擎</a>
						<a href="#">销售排行</a>
						<a href="#">访问购买率</a>
						<a href="#">站外投放JS</a>
					</div>
				</li>
				<li>
					<a href="#" class="clic"><b></b><span>文章管理</span></a>
					<div class="two_menu">
						<a href="#">文章分类</a>
						<a href="#">文章列表</a>
						<a href="#">文章自动发布</a>
						<a href="#">在线调查</a>
					</div>
				</li>
				<li>
					<a href="#" class="clic"><b></b><span>会员管理</span></a>
					<div class="two_menu">
						<a href="#">会员列表</a>
						<a href="#">添加会员</a>
						<a href="#">会员等级</a>
						<a href="#">会员整合</a>
						<a href="#">会员留言</a>
						<a href="#">充值和提现申请</a>
						<a href="#">资金管理</a>
					</div>
				</li>
				<li>
					<a href="#" class="clic"><b></b><span>权限设置</span></a>
					<div class="two_menu">
						<a href="#">管理员列表</a>
						<a href="#">管理员日志</a>
						<a href="#">角色管理</a>
						<a href="#">办事处列表</a>
						<a href="#">供货商列表</a>
					</div>
				</li>
				<li>
					<a href="#" class="clic"><b></b><span>系统设置</span></a>
					<div class="two_menu">
						<a href="#">商店设置</a>
						<a href="#">会员注册项设置</a>
						<a href="#">支付方式</a>
						<a href="#">配送方式</a>
						<a href="#">邮件服务器设置</a>
						<a href="#">地区列表</a>
						<a href="#">计划任务</a>
						<a href="#">友情链接</a>
						<a href="#">验证码管理</a>
						<a href="#">文件权限检测</a>
						<a href="#">文件校验</a>
						<a href="#">首页主广告管理</a>
						<a href="#">自定义导航栏</a>
						<a href="#">授权证书</a>
						<a href="#">站点地图</a>
					</div>
				</li>
				<li>
					<a href="#" class="clic"><b></b><span>模板管理</span></a>
					<div class="two_menu">
						<a href="#">模板选择</a>
						<a href="#">设置模板</a>
						<a href="#">库项目管理</a>
						<a href="#">语言项编辑</a>
						<a href="#">模板设置备份</a>
						<a href="#">邮件模板</a>
					</div>
				</li>
				<li>
					<a href="#" class="clic"><b></b><span>数据库管理</span></a>
					<div class="two_menu">
						<a href="#">数据备份</a>
						<a href="#">数据表优化</a>
						<a href="#">SQL查询</a>
						<a href="#">体验数据清除</a>
						<a href="#">转换数据</a>
					</div>
				</li>
				<li>
					<a href="#" class="clic"><b></b><span>短信管理</span></a>
					<div class="two_menu">
						<a href="#">发送短信</a>
						<a href="#">短信签名</a>
					</div>
				</li>
				<li>
					<a href="#" class="clic"><b></b><span>推荐管理</span></a>
					<div class="two_menu">
						<a href="#">推荐设置</a>
						<a href="#">分成管理</a>
					</div>
				</li>
				<li>
					<a href="#" class="clic"><b></b><span>邮件群发管理</span></a>
					<div class="two_menu">
						<a href="#">关注管理</a>
						<a href="#">邮件订阅管理</a>
						<a href="#">杂志管理</a>
						<a href="#">邮件队列管理</a>
					</div>
				</li>
				<li>
					<a href="#" class="clic"><b></b><span>移动版管理</span></a>
					<div class="two_menu">
						<a href="#">移动版</a>
					</div>
				</li>
				<li>
					<a href="#" class="clic"><b></b><span>模板堂知识库</span></a>
					<div class="two_menu">
						<a href="#">在线手册</a>
						<a href="#">社区论坛</a>
					</div>
				</li>
			</ul>
		</div>
		<div id="center_box">
			<a href="#"></a>
		</div>
		<div id="right_box">
			<iframe src="/lis/list.html" id="content" name="content"></iframe>
		</div>
	</div>
</body>
<script type="text/javascript" src="/js/jquery-1.11.3.js"></script>
<script type="text/javascript" src="/js/index.js"></script>
</html>
